.bg-b {
    /* The image used */
     /* background-image: url("/imag/8.jpg"); */
    background-color: rgb(31, 65, 114);
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }