*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	direction: rtl;
	font-family: 'vazir'
}
body{
	text-align: center;
	font-family: 'vazir';
}
form{
    padding: 10px 50%;
}